.about {
  font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #1468df;   /* dark slate */
  font-size: 16px;
  line-height: 1.5;
}
.skills {
  font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #07f13a;   /* dark slate */
  font-size: 16px;
  line-height: 1.5;
}
.projects {
  font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #f10707;   /* dark slate */
  font-size: 16px;
  line-height: 1.5;
}
.contact {
  font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #3a07f1;   /* dark slate */
  font-size: 16px;
  line-height: 1.5;
}